.my-account {
    &__title {
        padding: 0 1rem;
        background-color: var(--light-white);
        margin-top: 2rem;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 3rem;
        border: 1px solid var(--light-gray);
        margin-top: 5rem;
        gap: 2rem;
        font-size: 1.5rem;
        background-color: var(--light-white);
    }

    &__new-user {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;
        order: 1;

        a {
            font-size: 1.5rem;
            text-decoration: none;
            color: var(--full-white);
            background: var(--drak-gray-to-light-gray-gradient);
            padding: 1rem 2rem;
            border-radius: .25rem;
            transition: background .4s ease-in;
            transition: color .3s ease-in;
            width: fit-content;
        }

        a:hover {
            background: var(--light-blue);
            color: var(--black);
        }
    }

    &__login-user {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;

        &__form {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &__input {
                outline: none;
                font-size: 1.5rem;
                padding: 0.25rem 1rem;
                border-radius: .25rem;
                border: 1px solid var(--light-gray);
            }

            &__btn {
                font-size: 1.5rem;
                text-decoration: none;
                color: var(--full-white);
                background: var(--drak-gray-to-light-gray-gradient);
                padding: 1rem 2rem;
                border-radius: .25rem;
                transition: background .4s ease-in;
                transition: color .3s ease-in;
                width: fit-content;
                cursor: pointer;
                border: none;
            }
            &__btn:hover {
                background: var(--light-blue);
                color: var(--black);
            }
        }
    }
}