@import "./components/navbar/navbar.scss";
@import "./components/storenav/storenav.scss";

:root {
    --dark-gray: #323232;
    --light-blue: #0088cc;
    --light-white: #f2f2f2;
    --half-white: #eaeaea;
    --full-white: #FFF;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.App {
    height: 100vh;
    .main {
        height: 100%;
    }
}